body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: normal;
  color: rgb(17, 17, 17);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.2s;
}

div {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.c_wh {
  color: white;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

/* Text Style */

h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.p_72 {
  font-size: 72px;
  line-height: 60px;
  font-weight: 400;
}

.p_20 {
  font-size: 20px;
  line-height: 24px;
}

.p_14 {
  font-size: 14px;
  line-height: 20px;
}

.p_14_tg {
  font-size: 14px;
  font-weight: 400;
}

.p_12 {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.p_10 {
  font-size: 10px;
  font-weight: 400;
}

/* * Color Style */

.c_17 {
  color: rgb(17, 17, 17);
}

.c_117 {
  color: rgb(117, 117, 117);
}

.c_126 {
  color: rgb(126, 126, 126);
}

.c_245 {
  color: rgb(245, 245, 245);
}

.c_255 {
  color: rgb(255, 255, 255);
}
