header {
  width: 100%;
  height: auto;
}

.gnb {
  width: 100%;
  height: 96px;
}

/* Gnb-Upper */

.gnb-upper {
  width: 100%;
  height: 36px;
  background-color: rgb(245, 245, 245);
  padding: 0 38px 0 36px;
  display: flex;
  justify-content: space-between;
}

.gnb-upper-brand {
  height: 100%;
  display: flex;
}

.gnb-down-left,
.gnb-down-right {
  width: 340px;
}

.gnb-upper-brand li a {
  line-height: 100%;
  display: inline-block;
  padding: 6px 12px;
}
/* 이미지를 중간에 위치하려면 이미지에 vertical-align: middle;로 하고 <a>를 인라인블럭 속성으로 변경한 뒤에  <a> 위아래 padding을 준다 */
.gnb-upper-brand svg {
  vertical-align: middle;
}

.gnb-upper-brand svg:hover {
  fill: rgb(150, 150, 150);
}

.gnb-upper-usermenu {
  display: flex;
  align-items: center;
}

.gnb-upper-usermenu li {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

.gnb-upper-usermenu li a {
  padding: 0 8px;
  color: rgb(17, 17, 17);
}

.gnb-upper-usermenu li a:hover {
  color: rgb(150, 150, 150);
}

/* Gnb-Down */

.gnb-down {
  width: 100%;
  height: 60px;
  padding: 0 38px 0 36px;
  display: flex;
  justify-content: space-between;
}

.gnb-down-left a {
  padding: 0 12px;
  display: inline-block;
  height: 100%;
}

.gnb-down-left a svg:hover {
  fill: rgb(150, 150, 150);
}

.gnb-down-mainmenu {
  display: flex;
}

.gnb-down-mainmenu li a {
  color: rgb(17, 17, 17);
  display: inline-block;
  padding: 18px 12px;
}

.gnb-down-mainmenu li a:hover {
  border-bottom: 2px solid rgb(17, 17, 17);
}

.gnb-down-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.gnb-down-right li {
  margin: 0 6px;
}

.gnb-down-right li a svg {
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

.gnb-down-right li:nth-child(1) {
  width: 180px;
  height: 40px;
  padding: 0 6px;
  border-radius: 20px;
  background-color: rgb(245, 245, 245);
}

.gnb-down-right li:nth-child(1):hover {
  background-color: rgb(200, 200, 200);
}

.gnb-down-right li:nth-child(3) {
  margin: 0 0 0 6px;
}

.gnb-down-right li:nth-child(2) a:hover,
.gnb-down-right li:nth-child(3) a:hover {
  background-color: rgb(200, 200, 200);
  border-radius: 50%;
}

.gnb-down-right li a {
  display: inline-block;
  padding: 6px;
  line-height: 24px;
  color: rgb(150, 150, 150);
}

/* Main */
/* 메인 전체를 <div>로 싸고 시작!!! */

main {
  width: 100%;
  height: auto;
}

/* Main banner */

.main-banner {
  width: 100%;
  height: 58px;
  padding: 10px 0 0 0;
  background-color: rgb(245, 245, 245);
}

.main-banner-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-banner-info span {
  font-size: 14px;
  line-height: 1;
}

.main-banner-info a {
  font-size: 12px;
  font-weight: 500;
  text-decoration: underline;
  color: rgb(17, 17, 17);
}

/* Hero video */

.hero-video-wrap {
  height: 900px;
  margin: 0 0 84px 0;
  padding: 0 55.5px;
  overflow: hidden;
  position: relative;
}

.hero-video-wrap a {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 55.5px;
  width: calc(100% - 111px);
  height: 100%;
}

.hero-video {
  margin: -60px 0 0 0;
}

.hero-video-wrap h1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 400px;
  left: 0;
  color: rgba(255, 255, 255, 0.3);
  font-size: 100px;
  font-family: "Nike Futura";
  text-align: center;
  line-height: 1;
  letter-spacing: 2px;
}

/* Main visual-1 */

.main-visual-1 {
  width: 100%;
  height: 900px;
  padding: 0 55.5px;
  display: flex;
  flex-wrap: nowrap;
  color: rgb(255, 255, 255);
}

.cover-pointer:hover {
  cursor: pointer;
}

.main-visual-1-left {
  width: 50%;
  background-image: url("../img/nike-just-do-it.png");
  display: flex;
  align-items: flex-end;
}

.main-visual-1-right {
  width: 50%;
  background-image: url("../img/nike-just-do-it\ \(1\).png");
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.main-visual-1-text-l {
  margin: 0 0 36px 36px;
}

.main-visual-1-text-l p:nth-child(1) {
  margin: 0 0 8px 0;
  font-family: "Nike Futura";
}

.main-visual-1-right p {
  margin: 0 36px 36px 0;
}

/* Main visual-2 */

.main-visual-2 {
  width: 100%;
  height: 728px;
  margin-top: 84px;
  padding: 0 48px;
  overflow-x: scroll;
  overflow-y: hidden;
}
/*width를 100%로 하고 양옆에 padding을 주면 브라우저 크기에 따라 유동적으로 크기 변경됨*/

.main-visual-2 h2 {
  margin: 0 0 24px 0;
}

.main-visual-2-item {
  width: 100%;
  height: 100%;
  display: flex;
}

.main-visual-2-item li {
  width: 33%;
  flex-shrink: 0; /*아이템 수가 많을 경우 아이템들이 넓이가 축소되어 박스 안에 나타나는데~아이템들이 원래 가지고 있던 넓이를 잃지 않도록 해줌*/
}

.main-visual-2-item li a {
  color: rgb(17, 17, 17);
}

.main-visual-2-item li img {
  width: 100%;
  vertical-align: middle;
}

.main-visual-2-item li {
  margin: 0 16px 0 0;
}

.main-visual-2-item .item-info {
  display: flex;
  justify-content: space-between;
  margin: 12px 16px 0 0;
}

/* Main visual -3 */

.main-visual-3 {
  width: 100%;
  height: 752px;
  margin-top: 84px;
  padding: 0 48px;
}

.main-visual-3 h2 {
  margin: 0 0 24px 0;
}

.main-visual-3-item {
  height: 700px;
  display: flex;
}

.main-visual-3-item-l {
  width: 50%;
  height: 700px;
  margin: 0 16px 0 0;
  background-image: url("../img/nike-just-do-it\ \(1\).jpg");
  display: flex;
  align-items: flex-end;
}

.main-visual-3-item-r {
  width: 50%;
  height: 700px;
  background-image: url("../img/nike-just-do-it\ \(2\).jpg");
  display: flex;
  align-items: flex-end;
  position: relative;
}

.main-visual-3-text {
  margin: 0 0 36px 36px;
}

/* Main visual-4 */

.main-visual-4 {
  width: 100%;
  height: 752px;
  margin-top: 84px;
  padding: 0 48px;
}

.main-visual-4 h2 {
  margin: 0 0 24px 0;
}

.main-visual-4-img {
  width: 100%;
  height: 700px;
  background-image: url("../img/nike-just-do-it\ \(3\).jpg");
  display: flex;
  align-items: flex-end;
  position: relative;
}

.main-visual-4-text {
  margin: 0 0 36px 36px;
}

.main-visual-4-text p:nth-child(1) {
  margin: 0 0 8px 0;
  font-family: "Nike Futura";
}

/* Main visual-5 */

.main-visual-5 {
  width: 100%;
  height: 752px;
  margin-top: 84px;
  padding: 0 48px;
}

.main-visual-5 h2 {
  margin: 0 0 24px 0;
}

.main-visual-5-item {
  height: 700px;
  display: flex;
}

.main-visual-5-item-l {
  width: 50%;
  height: 700px;
  margin: 0 16px 0 0;
  background-image: url("../img/nike-just-do-it\ \(4\).jpg");
  display: flex;
  align-items: flex-end;
  position: relative;
}

.main-visual-5-item-r {
  width: 50%;
  height: 700px;
  background-image: url("../img/nike-just-do-it\ \(5\).jpg");
  display: flex;
  align-items: flex-end;
  position: relative;
}

.main-visual-5-text {
  margin: 0 0 36px 36px;
}

/* Main visual-6 */

.main-visual-6 {
  width: 100%;
  height: 833px;
  margin-top: 84px;
  padding: 0 48px;
}

.main-visual-6 h2 {
  margin: 0 0 24px 0;
}

.main-visual-6-item {
  width: 100%;
  height: 100%;
  display: flex;
}

.main-visual-6-item li {
  width: 33%;
}

.main-visual-6-item li a {
  color: rgb(17, 17, 17);
}

.main-visual-6-item li img {
  width: 100%;
}

.main-visual-6-item li:nth-child(2) {
  margin: 0 16px;
}

/* Membership */

.membership-wrap {
  max-width: 1808px;
  height: 500px;
  margin: 0 auto;
  margin-top: 84px;
  padding: 0 8px;
}

.membership-img {
  height: 100%;
  background-image: url("../img/nike-just-do-it.jpg");
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.membership-img ul {
  display: flex;
  height: 46px;
  margin: 0 0 36px 0;
}

/* Item list */

.Main-item {
  margin: 84px 0 0 0;
  padding: 0 511px 56px;
  display: flex;
  justify-content: space-between;
  height: 190px;
  overflow: hidden;
  transition: 0.3s;
  margin-bottom: 56px;
}

.Main-item:hover {
  height: 700px;
  margin: 84px 0 0 0;
}

.Main-item ul h4 {
  margin: 0 0 24px 0;
  font-size: 16px;
  font-weight: 600;
}

.Main-item ul li {
  margin: 0 0 12px 0;
}

.Main-item ul li a {
  display: inline-block;
  color: rgb(126, 126, 126);
  font-weight: 500;
}

.Main-item ul li a:hover {
  color: rgb(17, 17, 17);
}
/* -Footer- */

.footer-wrap {
  width: 100%;
  height: auto;
  background-color: rgb(17, 17, 17);
  color: rgb(126, 126, 126);
  font-weight: 400;
}

.footer {
  max-width: 1440px; /* 브라우저 크기에 따라 유동적으로 크기 변화*/
  height: auto;
  margin: 0 auto;
  padding: 40px 40px 0 40px;
}

.footer a {
  color: rgb(126, 126, 126);
}
.footer-info {
  display: flex;
  justify-content: space-between;
  margin: 0 0 16px 0;
}

.footer-info-left {
  width: 75%;
  height: 217px;
  display: flex;
}

.footer-info-left ul {
  width: 25%;
  height: 100%;
  padding: 0 8px;
}

.footer-info-left ul li {
  margin: 0 0 3px 0;
  line-height: 28px;
}

.footer-info-1 a,
.footer-info-left .c_255 {
  color: rgb(255, 255, 255);
  font-family: "Nike TG";
}

.footer-info-right span {
  margin: 0 0 0 16px;
}

.footer-info-right a svg {
  transition: fill 0.2s;
}

.footer-info-right a:hover svg {
  fill: rgb(255, 255, 255);
}

.sub-footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  border-top: 1px solid rgb(34, 34, 34);
  padding: 12px 8px 17px 8px;
}

.sub-footer-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.sub-footer-left div {
  margin: 0 24px 0 0;
}

.sub-footer-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.sub-footer-right li {
  margin: 0 0 0 12px;
}

.footer-wrap a:hover {
  color: rgb(255, 255, 255);
}

.sub-footer-right li a {
  padding: 8px;
}
