header {
  width: 100%;
  height: auto;
}

.gnb {
  width: 100%;
  height: 96px;
}

/* Gnb-Upper */

.gnb-upper {
  width: 100%;
  height: 36px;
  background-color: rgb(245, 245, 245);
  padding: 0 38px 0 36px;
  display: flex;
  justify-content: space-between;
}

.gnb-upper-brand {
  height: 100%;
  display: flex;
}

.gnb-upper-brand li a {
  line-height: 100%;
  display: inline-block;
  padding: 6px 12px;
}
/* 이미지를 중간에 위치하려면 이미지에 vertical-align: middle;로 하고 <a>를 인라인블럭 속성으로 변경한 뒤에  <a> 위아래 padding을 준다 */
.gnb-upper-brand svg {
  vertical-align: middle;
}

.gnb-upper-brand svg:hover {
  fill: rgb(150,150,150);
}

.gnb-upper-usermenu {
  display: flex;
  align-items: center;
}

.gnb-upper-usermenu li {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

.gnb-upper-usermenu li a {
  padding: 0 8px;
  color: rgb(17,17,17);
}

.gnb-upper-usermenu li a:hover {
  color: rgb(150,150,150);
}

/* Gnb-Down */

.gnb-down {
  width: 100%;
  height: 60px;
  padding: 0 38px 0 36px;
  display: flex;
  justify-content: space-between;
}

.gnb-down-left a {
  padding: 0 12px;
  display: inline-block;
  height: 100%;
}

.gnb-down-left a:hover {
  fill: rgb(150,150,150);
}

.gnb-down-mainmenu {
  display: flex;
}

.gnb-down-mainmenu a {
  color: rgb(17,17,17);
  display: inline-block;
  padding: 18px 12px;
}

.gnb-down-mainmenu a:hover {
  border-bottom: 2px solid rgb(17,17,17);
}

.gnb-down-right {
  display: flex;
  align-items: center;
}

.gnb-down-right li {
  margin: 0 6px;
}
.gnb-down-right li:nth-child(1) {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(245, 245, 245);
}
.gnb-down-right li:nth-child(3) {
  margin: 0 0 0 6px;
}

.gnb-down-right li:nth-child(2) a,
.gnb-down-right li:nth-child(3) a {
  border-radius: 50%;}

.gnb-down-right li:nth-child(2) a:hover,
.gnb-down-right li:nth-child(3) a:hover {
  background-color: rgb(150,150,150);
}

.gnb-down-right li a {
  display: inline-block;
  padding: 6px;
  line-height: 24px;
  color: rgb(150,150,150);
}

.gnb-down-right li a svg {
  vertical-align: middle;
}

.main-visual {
  width: 1789px;
  height: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  color: rgb(255,255,255);
}

.main-visual-left {
  width: 50%;
  background-image: url("../img/nike-just-do-it.png");
  display: flex;
  align-items: flex-end;
}

.main-visual-right {
  width: 50%;
  background-image: url("../img/nike-just-do-it\ \(1\).png");
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.main-visual-text-l {
  margin: 0 0 36px 36px;
}

.main-visual-text-l p:nth-child(1) {
  margin: 0 0 8px 0;
  font-family: "Nike Futura";
}

.main-visual-text-l a {
  display: inline-block;
  width: 94px;
  line-height: 40px;
  text-align: center;
  background-color: rgb(245, 245, 245);
  border-radius: 20px;
  margin: 24px 0 0 0;
  color: rgb(17,17,17);
}

.main-visual-right p {
  margin: 0 36px 36px 0;
}

